@charset "utf-8";
/* common Css */
html{
	padding:0px; margin:0px;
}
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
:focus{outline:none;}
body,button,input,select,textarea{ font:14px/1.5 arial,\5FAE\8F6F\96C5\9ED1, tahoma,\5b8b\4f53,sans-serif;color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body{ background: #dfe7f2;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{ font-size:12px;}
ul,ol{list-style:none;}
a:link,a:visited{text-decoration:none; color:#333;}
a:hover,a:active{text-decoration:nond; color:#FF0000;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
img{border:0;}
button,input,select,textarea{font-size:100%;vertical-align:middle;}
.clearfix:after{ content: "020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix{ zoom: 1; }
.clear{clear:both;}
.right{ float:right;}
.left{ float:left;}
.hide{ display:none; }
.relative{ position:relative;}
.tr{ text-align: right !important;}

.ml10{ margin-left:10px;}
.mt10,.mt-10{ margin-top:10px;}
.mt-20{ margin-top:20px;}
.mr-10{ margin-right:10px;}
.w-auto{ width:auto;}


/*==================头部==================*/
.header{height:48px; background-color:#229be6;border-bottom:2px solid #3B84A6;}
.logo{ background:url(images/logo.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/frame/logo.png"); height:50px; width:500px; float:left; }
.header-right{ float:right;color:#eaf5fa; font-size:12px; padding-right:20px;}
.header-right a{ color:#eaf5fa;}
.header-right a:hover{color:#fff;}
.header-right span{ display: inline-block; vertical-align: middle;}
.header-right-list li{ float:left; margin-left:10px; padding-top:15px;}
.nowtime label{ margin-right: 3px;}
.header-icon{ display:inline-block; width:16px; height:16px; background:url(images/frame/headerIcon.png) no-repeat; vertical-align:-4px;*vertical-align:-2px; margin-right:2px;}
.header-icon.i-user{ background-position:0 0;}
.header-icon.i-logout{ background-position:0 -20px;}
.header-icon.i-message{ background-position:0 -40px;}
.header-icon.i-skin{ background-position:0 -60px;}
.header-right a:hover .i-logout{ background-position:-20px -20px;}
.header-right a:hover .i-message{ background-position:-20px -40px;}
.header-right a:hover .i-skin{ background-position:-20px -60px;}

/*==================上下左右结构头部==================*/
.header2{height:70px; background-color:#353f4b;}
.header2 .logo{ margin-top:10px;}
.header2 .main-nav{ float:left;border-right:1px solid #4f5965;}
.header2 .main-nav ul{}
.header2 .main-nav ul li{ float:left; font-size:14px; text-align:center;border-left:1px solid #4f5965;}
.header2 .main-nav ul li i{}
.header2 .main-nav ul li{}
.header2 .main-nav ul li a{ display:block; color:#fff; height:46px; width:70px; padding:12px 10px;}
.header2 .main-nav ul li a span{ display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.header2 .main-nav ul li.cur a,.header2 .main-nav ul li a:hover{ background:#249ad1;}
.header2 .nowtime{ display:none;}
.header2 .dropdown-active{ padding:25px 10px 0;height:45px;}
.header2 .dropdown-menu{top:70px;}
.header2 .skin-change{ margin-top:16px;}
.header2 .header-right-list li{padding-top:25px;}
.header2 .skin-change{  margin-top:-10px;}

/*==================上下结构头部==================*/
.header3{height:130px;background-color:#263548;}
.header3 .header-top{ height:52px; }
.top-nav{ }
.top-nav-node{height:38px; }
.top-nav-node li{ float:left; height:38px; line-height:38px; background:#249ad1; color:#fff; padding:0 15px; margin-right:5px;border-radius:3px 3px 0 0; cursor:pointer;}
.top-nav-node li a{color:#fff;}
.top-nav-node li.cur,.top-nav-node li.cur:hover{ background:#eff3f6;}
.top-nav-node li.cur a,.top-nav-chlid li.cur a,.top-nav-chlid li:hover a{color:#249ad1;}
.top-nav-chlid{height:38px; background:#eff3f6;border-bottom:2px solid #cbd1d6; }
.top-nav-chlid li{ float:left;height:38px; line-height:38px;cursor:pointer;}
.top-nav-chlid li a{ display:block;}
.top-nav-chlid li a span{border-right:1px solid #cbd1d6;padding:0 15px;}
.top-nav-chlid li.cur,.top-nav-chlid li:hover{border-bottom:2px solid #249ad1;}


/*左侧导航菜单*/
#sidebar{ background:#09151c; width:150px; height: 100%; position: absolute; top:50px; bottom:0; left:0; z-index:99; overflow:none;}
.sidebar-tit{ height: 37px; line-height: 37px; color:#73b4e9; padding-left: 22px; }
.sidebar-list{ background:#09151c;}
.sidebar-list ul li.on{ background-color: #40b35b;}
.sidebar-list ul li a{ display:block; height:41px; line-height:41px; color:#fff; font-size:14px; padding-left:12px; border-bottom: 1px solid #434e60;}
.sidebar-list ul li a span{ display:inline-block; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}

.sidebar-icon{ display:inline-block; width:20px; height:20px; background:url(images/frame/sidebarIcon.png) no-repeat; vertical-align:8px; margin-right:10px; }
.sidebar-icon.i-i1{ background-position:0 0;}
.sidebar-icon.i-i2{ background-position:0 -30px;}
.sidebar-icon.i-i3{ background-position:0 -60px;}
.sidebar-icon.i-i4{ background-position:0 -90px;}
.sidebar-icon.i-i5{ background-position:0 -120px;}
.sidebar-icon.i-i6{ background-position:0 -150px;}
.sidebar-icon.i-i7{ background-position:0 -180px;}
.sidebar-icon.i-i8{ background-position:0 -210px;}
.sidebar-icon.i-i9{ background-position:0 -240px;}
.sidebar-icon.i-i10{ background-position:0 -270px;}
.sidebar-icon.i-i11{ background-position:0 -300px;}
.sidebar-icon.i-i12{ background-position:0 -330px;}
.sidebar-icon.i-i13{ background-position:0 -362px;}
.sidebar-icon.i-i14{ background-position:0 -390px;}
.sidebar-icon.i-i15{ background-position:0 -420px;}
.sidebar-icon.i-i16{ background-position:0 -450px;}
.sidebar-icon.i-i17{ background-position:0 -480px;}
.sidebar-icon.i-users{ background-position:-30px 0;}
.sidebar-icon.i-edit{ background-position:-30px -30px;}
.sidebar-icon.i-handle{ background-position:-30px -60px;}
.sidebar-icon.i-shuffle{ background-position:-30px -90px;}
.sidebar-icon.i-monitor{ background-position:-30px -120px;}
.sidebar-icon.i-archives{ background-position:-30px -150px;}
.sidebar-icon.i-medal{ background-position:-30px -180px;}
.sidebar-icon.i-statistics{ background-position:-30px -210px;}
.sidebar-icon.i-cog{ background-position:-30px -240px;}
.sidebar-icon.i-photo{ background-position:-30px -270px;}

/*内容区域*/
#main{ height:100%; position: absolute; top:50px; right:0; bottom: 0;left:150px; overflow:hidden; z-index:1; background:#dfe7f2;}
#main #mainFrame{ width: 100%; background-color: #fff;}
.main-cont{ padding:0 10px;min-height:500px;}
#mainWrap{ padding-left:10px;}


/*页脚*/
#footer{ height:40px; line-height:40px; color:#9d9d9d;text-align:center; font-size:12px; bottom:10px; width:100%; background-color: #DFE7F2;}


/*面包屑 当前位置*/
.breadcrumb{ height:40px; line-height:40px;  font-size:14px; }
.breadcrumb a,.breadcrumb span{color:#666; margin:0 2px;}
.breadcrumb span.cur{ color:#0d97d8;}

/*栅格化*/
.col-6-1{ float:left; width: 16.666667%;}
.col-6-5{ float:left; width: 83.333333%;}
.col-12-2{ float:left; width: 16.666667%;}
.col-12-5{ float: left; width: 41.666667%;}
.col-6-1 .panel{ padding-right: 10px;}
.col-12-2 .panel{ padding-right: 10px;}
.col-12-5 .panel{ padding-right: 10px;}
.col-height .panel-body{ height:533px; overflow-y:auto; overflow-x: hidden;}
.col-6-1.col-height .panel-body{ height:580px;}

/*相识人员查找*/
.bd-items li{ float: left; margin:10px 24px; text-align: center; position: relative;}
.bd-items li .tx{ border:1px solid #D2D2D2;}
.bd-items li .ft-orange{ font-size: 12px;}
.detail-info{ display: none; width: 140px; font-size: 12px; background-color: #FEF377; padding:5px; border:1px solid #dadada; position: absolute; z-index: 99; top:50px; right:-155px;}
.detail-info.posleft{ right:95px;}
.detail-info div{ text-align: left;}
.detail-info div span{ white-space: nowrap;}
.detail-info div label{ color:#028ede; word-wrap: break-word; word-break:break-all;}
.detail-info .a-link{ font-size: 12px;}
.arrow{ width: 7px; height: 13px; display: inline-block; background: url("images/popArrow.png") no-repeat 0 0; position: absolute; top:20px; left:-7px;}
.arrow.posleft{ background-position:-7px 0; left:150px;}
.bd-tx{ text-align: center; }
.bd-tx img{ padding:5px; border:1px solid #cdcdcd; background: #f2f2f3;}
.upload{ padding:10px 0; border-bottom:1px solid #B2B9C1; }
.cs-box h2{ line-height: 30px; margin-top:5px;}
.select{ padding:5px 3px; border:1px solid #ccc; width: 94%;}
.select select{ border:0 none; width: 94%;}
.select .year{ width: 38%;}
.select .month{ width: 28%;}
.inputtext{ height:28px; line-height: 28px; padding:0 3px; border:1px solid #ccc; width: 94%;}
.btn-zome{ text-align: center; margin:20px 0;}

/*警报信息*/
.xy-tx{ text-align: center;}
.xy-tx img{ width: 204px; height: 240px;}
.xy-info{ text-align: center; margin-top: 30px;}
.xy-info ul{ display: inline-block; *+display:inline; zoom:1;}
.xy-info ul li{ text-align: left;}
.tx-items li{ position: static; float:none;}

/*分页*/
.pager-le{ float: left;}
.pager-ri{ float: right;}
.pager{ overflow: hidden;}
.pager li{ float:left; margin-left: 10px;}
.s-input{ width: 30px; height: 24px; line-height: 24px; border:1px solid #c5c5c5; margin:0 5px; }
.jump-btn{ background-color: #e8f1f8; width: 44px; height: 24px; border:1px solid #bdd1dc; text-align: center;}

.pager1{ text-align: center;}
.pager1 a{ color:#000; margin:0 10px;}
.pager1 a.disable{ color:#828282;}

/*字体颜色*/
.ft-blue,a.ft-blue{ color:#0363ba;}     /*标准色-蓝色*/
.ft-red,a.ft-red{ color:#d43635;}       /*标准色-红色*/
.ft-green,a.ft-green{color:#4ec173;}    /*标准色-绿色*/
.ft-orange,a.ft-orange{color:#fa9a02;}  /*标准色-橙色*/
.ft-yellow,a.ft-yellow{color:#ecc800;}  /*标准色-黄色*/
.ft-gray,a.ft-gray{color:#999;}         /*标准色-灰色*/
.ft-success,a.ft-success{ color:#4ec173;}  /*强调色-成功*/
.ft-error,a.ft-error{ color:#d43635;}      /*强调色-出错*/
.ft-warning,a.ft-warning{ color:#ee8035;}  /*强调色-警告*/
.ft-need,a.ft-need{ color:#d43635;}        /*强调色-必填项*/

/*链接文字*/
.a-link,a.a-link{ color:#0363ba;}


/*面板panel*/
.panel{ margin-bottom:10px;}
.panel .panel-header{ background:#eef2fa; padding:5px 15px; height:30px; line-height:30px; margin-top:1px; position:relative; border:1px solid #B2B9C1; border-bottom: 0 none; color:#5C5E5D;}
.panel .panel-header h2 i{ display:inline-block; width:20px; height:20px; background:url(images/frame/arrow2.png) no-repeat 0 -30px; vertical-align:-6px; margin-right:5px;}
.panel .panel-header .arrow{display:inline-block; width:12px; height:12px; background:url(images/arrow.png) no-repeat; position:absolute; right:12px; top:11px;}
.panel .panel-header .arrow.up{ background-position:-15px -15px;}
.panel .panel-header .arrow.down{background-position:-15px 0;}
.panel .panel-body{ border:1px solid #B2B9C1; padding:10px; background:#fff;}
.panel .panel-noborder{border:none; padding:10px 15px;}
.panel-bottom{ padding:10px; border:1px solid #B2B9C1; border-top: 0 none; background-color:#fff;}


/*表单元素*/
.textarea,select,.select,.input-text{ border:1px solid #ddd;}
textarea:focus,.input-text:focus,.select:focus{border-color:#73cded;}
.input-text{ height:28px; line-height:28px; border:1px solid #ddd; width:199px; padding:0 5px;}
.textarea{ line-height:24px; width:199px; padding:2px 5px; height:100px; overflow:auto;}
/*select,.select{height:30px; line-height:30px; width:211px; padding:4px 2px; }*/
input[type="radio"],input[type="checkbox"]{line-height: normal; margin-top:-4px}

.input-text[disabled]:hover,.textarea[disabled]:hover{ cursor:not-allowed;}

.text-wl,.input-wl{width:98%;}
.text-ws,.input-ws{width:36px;}
.text-ymd{width:90px !important;}

.btn-upload{position: relative; display:inline-block;height:36px; *display:inline;overflow:hidden;vertical-align:middle;cursor:pointer}
.upload-url{cursor: pointer}
.input-file{position:absolute; right:0; top:0; cursor: pointer; z-index:1; font-size:30em; *font-size:30px;opacity:0;filter: alpha(opacity=0)}
.btn-upload .input-text{ width:auto;}
.form-group .btn{ margin-left:-2px;}
.upload-file {
	width: 150px;
}


/*按钮栏*/
.btn-bar{ text-align:right; margin-bottom:5px;}
.btn-bar a{ margin-left:4px;}
.btn-bar .left{ padding-top:8px;}

/*按钮*/
.btn i{ vertical-align:middle; margin-right:2px;}
.btn,.btn span{background:url(images/frame/btnBg.png) no-repeat 0 0;display:inline-block; height:30px; line-height:30px;color:#fff;}
.btn{ background-position:0 0;padding-left:3px; cursor:pointer;}
.btn span{background-position:right -40px;padding:0 10px 0 7px;white-space:nowrap;letter-spacing:1px;}
.btn:hover{background-position:0 -80px;}
.btn:hover span{background-position:right -120px;}
.btn-default{ background-position:0 0;}
.btn-default span{ background-position:right -40px;}
.btn.btn-default:hover{background-position:0 -80px;}
.btn.btn-default:hover span{background-position:right -120px;}
.btn-secondary{ background-position:0 -160px;}
.btn-secondary span{ background-position:right -200px;}
.btn.btn-secondary:hover{ background-position:0 -240px;}
.btn.btn-secondary:hover span{ background-position:right -280px;}
.btn-disabled{ cursor:default;}
.btn.btn-disabled,.btn.btn-disabled:hover{ background-position:0 -480px;}
.btn.btn-disabled span,.btn.btn-disabled:hover span{ background-position:right -520px;color:#666;}
.btn-form{ height:30px; line-height:30px; background:#21A8D9; color:#fff;}
.btn-form:hover{ background:#1e97c3;}

/*小按钮*/
.btn-s,.btn-s span{ display:inline-block; height:22px; line-height:22px;background:url(images/frame/btnBg.png) no-repeat 0 -80px;color:#fff; font-size:12px;}
.btn-s{ padding-left:3px; background-position:0 -560px; }
.btn-s span{padding:0 6px 0 3px; letter-spacing:1px;background-position:right -600px;}
.btn-s:hover{background-position:0 -640px;}
.btn-s:hover span{background-position:right -680px;}
.btn-s.btn-default{ background-position:0 -560px;}
.btn-s.btn-default span{ background-position:right -600px;}
.btn-s.btn-default:hover{background-position:0 -640px;}
.btn-s.btn-default:hover span{background-position:right -680px;}
.btn-s.btn-secondary{ background-position:0 -720px;}
.btn-s.btn-secondary span{ background-position:right -760px;}
.btn-s.btn-secondary:hover{ background-position:0 -800px;}
.btn-s.btn-secondary:hover span{ background-position:0 -840px;}
.btn-s.btn-disabled,.btn-s.btn-disabled:hover{ background-position:0 -880px;}
.btn-s.btn-disabled span,.btn-s.btn-disabled:hover span{ background-position:right -920px;color:#666;}


/*按钮*/
.btn3{display:inline-block;cursor:pointer;text-align:center; font-weight:400;white-space:nowrap;vertical-align: middle;*zoom:1;-webkit-transition:background-color .1s linear;-moz-transition:background-color .1s linear;-o-transition:background-color .1s linear;transition:background-color .1s linear; width:80px; height:30px; line-height:30px;}
a.btn3:hover,a.btn3:focus,a.btn3:active,a.btn3.active,a.btn3.disabled,a.btn3[disabled]{text-decoration:none}
.btn3:active,.btn3.active{background-color:#ccc}
.btn3:first-child{*margin-left:0}

/*默认——灰色 通常用于取消*/
/*.btn-default{background-color:#e6e6e6}*/



.btn-tbar{ margin-top:-35px; /*border-bottom:1px solid #ecf7fa; padding-bottom:5px;*/}

/*栅栏*/
.col{ float:left;}
.col1-2{ width:50%;}
.col-box{ margin-right:10px;}



/*搜索栏*/
.search-box{ padding:5px 10px; background:#ecf7fa; margin-bottom:5px;}
.search-box2{ padding:5px 10px;   border-bottom:1px solid #c6d6e0; margin:-10px;margin-bottom:15px;}
.search-table th,.search-table td{ padding:2px 0; white-space:nowrap;}
.search-table th{ font-weight:normal; text-align:right; color:#31353e;}
.search-table td{ padding-right:10px;}
.search-box .input-txt,.search-box select,.search-box .select,,.search-box .textarea{border-color:#cacccc;}
.gj-search{ display:none;}

/*翻页*/
.page{ padding:8px 5px; margin-bottom:5px;}
.page-link li{ float:left; margin-left:10px;}
.page .input-txt{ width:20px; height:20px; line-height:20px; margin:0 2px; vertical-align:middle;}
.page .a-go{ background:#e8f1f7; border:1px solid #bdd0db; padding:0 5px; display:inline-block; height:20px; line-height:20px; vertical-align:middle; color:#225577;}

#imagePreviewFrame {
	width: 107px;
	height: 137px;
	border:1px solid #D2D2D2;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
}

.suspect-item {
    cursor: pointer;
}

.condition-form {
    width: 200px;
}

.condition-form .panel-body {
    overflow-y: hidden;
}

.content-panel {
    margin-right: 0px;
    margin-left: 200px;
}
